.bar {
  padding-bottom: 80px;

}

.movie {
  display: inline-block;
  padding-bottom: 40px;
  width: 370px;
  border-radius: 10px;
  background-color: rgb(165, 162, 162);
  position: relative;
  left: 5%;
  margin: 10px;
}

.centerItems {
  position: relative;
  left: 50px;
  padding-top: 25px;

}

.image {
  max-width: 280px;
  max-height: 400px;
  padding-bottom: 20px;
}

.movieButtons {
  font-size: 15px;
}

#bookButton {
  position: relative;
  left: 10px;
}

.Title {
  position: relative;
  left: 90px;
  max-width: max-content;
  width: auto;
}